* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

img {
    /* make all images resizable and they are limited to the max width of their parent container */
    max-width: 100%;
    display: block;
}

.container {

    /*max-width will allow the container to be fluid on smaller viewports and then become fixed when it becomes 960px wide */
    max-width: 60rem;
    margin: 0 auto;
}


header,
footer {
    background-color: #115194;
    margin-bottom: 1.5rem;
}

header h1 {
    padding: 3rem;

}

nav {
    background-color: #4bb19d;
    padding: 1rem;
}

.banner {
    background-color: #b8bac3;
    padding: 18rem 1rem;
    margin-bottom: 1.5rem;
}

.promo {
    background-color: #b8d982;
    padding: 8rem 1rem;
    margin-bottom: 1.5rem;


}

footer {
    padding: 3rem;
}

@media screen and (min-width: 815px) {
    .flex-container {
        display: flex;
        gap: 2%;
    }


.promo {
    width: calc(96%/3);

}
}

